<h1>Enrollments#create</h1>

<p>Find me in app/views/enrollments/create.html.erb</p>

<center><img src="/assets/images/enrolment.png"></center>

<p align="center"><a href="/enrollments/view">View</a></p>

<p align="center"><a href="/enrollments/view">Edit</a></p>